<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
	<title>title</title>
	<style type="text/css">
		#p1{
			width:90px;
			height:70px;
			background-color: red;
			/*float: right;*/
		}
		#p2{
			width:40px;
			height: 100px;
			background-color: yellow;
		}
		#p3{
			width:30px;
			height:90px;
			background-color: purple;
		}
	</style>
</head>
<body>
	<div>
		<p id="p1">p1</p>
		<p id="p2">p2</p>
		<p id="p3">p3</p>
		
	</div>

</body>
</html>