<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RESTful demo</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.js"></script>
</head>
{% verbatim %}
<body id='demo'>
	<h1>RESTful demo</h1>
	{%	if stu %}
	<table border="1">
		<caption>Students Info</caption>
		<thead>
			<th>Name</th>
			<th>Tel</th>
			<th>update</th>
			<th>delete</th>
		</thead>
		<br>
	{% for s in stu %}
		<tbody v-for=" sinfo in stuinfo ">
			<tr>
				<td>{{ s.name }}</td>
				<td>{{ s.tel}}</td>
				<td><input type="submit" value='update'></td>
				<td><input type="submit" value='delete'></td>
			</tr>
		</tbody>
	{%	endfor	%}
	</table>
	{% else %}
		<p>No info now</p>
	{%	endif	%}

	<div>
		<h3>Add</h3>
		<form action="/index/" method="post" >
			{% csrf_token %}
			Name	<input type="text" name="name">	<br>
			Tele	<input type="text" name="tel">	<br>
					  <input type="submit" value="Submit">
		</form>
	</div>
	<script>
		vm =new Vue({
			el:"#demo",
			data:{
				sinfo:[]
			},
			methods:{
				getdata:function()
				{
					var self=this;
					reqwest({
						url:'/api/',
						type:'json',
						success:function(resp)
						{
							self.sinfo=resp
						},

					})
				}
			},

			computed:{
				stuinfo:function()
				{
					var self=this
					return self.sinfo
				}
			},

		})
	</script>

</body>
{% endverbatim %}

</html>