body{
  background-color: #f0f0f0;
}
#top_space{
  height: 60px;
  width: 100%;
  padding-left: 25px;
  padding-right: 30px;
  /*position: absolute;*/
}

#tenlogo{
  /*relative失效*/
  position: absolute;
  transform: translate(0%,-50%);
  top:50%;
}
.user_show{
  right: 170px;
  position: relative;
  transform: translate(0%,-50%);
  border-radius: 50%;
}
#right_menu{
  /*position: relative;*/
  /*transform: translate(0%,-50%);
  top:50%;
  left:30px;*/
}

#user_image{
  /*背景显示图像不合适，丢弃，见user_show*/
  /*background:url('../images/hou30.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  transform: translate(0%,-50%);
  top: 50%;
  right:170px;*/
}

#user_name{
  position: absolute;
  transform: translate(0%,-50%);
  top: 50%;
  right:140px;
}

#logbutton{
  position: absolute;
  transform: translate(0%,-50%);
  top: 50%;
  right:15px;
}

#select_menu{
  width: 400px;
  margin-top: 40px;
  margin-bottom: 23px;
  /*transform: translate(-50%,-50%);*/
}

#menu_item{
  background-color: #f0f0f0;
}

#card_view{
  /*对每个卡片的宽度亦能进行控制*/
  width: 68%;
}
/*.ui.image >.card_format{
  border-radius:3px；
  对图片的设置无效？需要弄清楚
}*/

.ui.container.left.aligned > .content{
  margin-top: 12px;
}

.people_read{
  color: rgb(196,196,196);
}

#page_up_down{
  width: 130px;
  margin-top: 70px;
  margin-bottom: 40px;
}
.ui.menu.fluid.two.item >.item{
  color: rgb(204,51,51);
}
