<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>
  		{% block title %}新未来——我们造{% endblock %}
  	</title>
  	<link  href="{% static 'login/css/semantic.min.css' %}" rel="stylesheet">
  	<link  href="{% static 'login/css/smartsdy.css' %}" rel="stylesheet"> 
  	<script src="{% static 'login/js/jquery.min.js'%}" type="text/javascript"></script> 
  	<!--
	<script src="https://cdn.bootcss.com/jquery.address/1.6/jquery.address.min.js"></script>
  	-->
  	<script src="{% static 'login/js/semantic.min.js' %}" type="text/javascript"></script>
  	
  
  </head> 
<body>
	{% block menu%}
		<div class="ui menu" id="nav" >
			<div class="item"> <a href="/">首页</a></div>
			<div class="item"> <a href="#">参赛</a></div>
			<div class="item"> <a href="/account/login">登录|注册</a></div>
		</div>
	{% endblock %}

	{% block bodyshow %}
		<div class="bodyshow">
			<p id="firstwd">
				New Future,We Create
			</p>
		</div> 
	{% endblock  %}

	{% block footer%}
		<div class="ui footer">
			<p>Copyright©2017-<span id="sysyear"></span> 新未来. All Rights Reserved.<br>
			鄂ICP备17026218号-1 <a href="mailto:917570905@qq.com">联系我</a></p>
		</div>
	{% endblock %}


	<!-- <link href='http://fonts.font.im/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'> -->
	<script  src="{% static 'login/js/smartsdy.js' %}" type="text/javascript"></script>
	<script src="{% static 'login/js/vue.min.js' %}" type="text/javascript"></script>
</body>
</html>