{% extends 'base.html' %}
{% block title %}注册|登录——新未来{% endblock %}

{% block bodyshow %}
<div class="ui form">
 	<form action="" method="POST" class="" id="regfm" >
 		<p class="ui text">登录|注册</p>
 		{% csrf_token %}
		{% for field in regfm %}
			<div  id="regfield" class="">
				{{ field.label_tag }}{{ field }} 
				{{ field.errors}}
			</div>
		{% endfor %}
			<p id="regerr">
				{% if err %}
				<i class="warning circle icon red"></i>{{ err }}
				{% endif %}
			</p>
 		<input type="submit" value="注册" class="ui green button">
 		<input type="reset" value="重置" class="ui gray button">
 	</form>
 </div>
{% endblock  %}

