<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test tab native</title>
	  <link  href="../static/login/css/semantic.min.css" rel="stylesheet">
  	<link  href="../static/login/css/smartsdy.css" rel="stylesheet"> 
  	<script src="../static/login/js/jquery.min.js" type="text/javascript"></script> 
  	<!--<script src="https://cdn.bootcss.com/jquery.address/1.6/jquery.address.min.js"></script>	-->
  	<script src="../static/login/js/semantic.min.js" type="text/javascript"></script>
  	<script src="../static/login/js/vue.min.js" type="text/javascript"></script>
	<script  type="text/javascript">
	 $(function (){
        //jQuery UI的Tab也是这样，可能也许大概说不准也依赖jquery.address
        $('.ui.top.attached.tabular.menu .item').tab();
    })
	</script>
</head>
<body>
	<div class="ui top attached tabular menu">
	  <a class="item active" data-tab="first">第一</a>
	  <a class="item" data-tab="second">第二</a>
	  <a class="item" data-tab="third">第三</a>
	</div>
	<div class="ui bottom attached tab segment active" data-tab="first">
	  第一
	</div>
	<div class="ui bottom attached tab segment" data-tab="second">
	  第二
	</div>
	<div class="ui bottom attached tab segment" data-tab="third">
	  第三
	</div>
	
</body>
</html>


