<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test page not in django</title>
	<link  href="../static/login/css/semantic.min.css" rel="stylesheet">
 	<script src="../static/login/js/jquery.min.js" type="text/javascript"></script> 
	<script src="../static/login/js/semantic.min.js" type="text/javascript"></script>
	<script src="../static/login/js/vue.min.js" type="text/javascript"></script>
</head>
<body>
	

<form class="ui form">
  <div class="field">
    <label>Special Field</label>
    <input type="text" name="special-name">
  </div>
  <div class="ui error message"></div>
  <div class="ui primary submit button">Submit</div>
  
</form>


<script type="text/javascript">
$('.ui.form')
  .form({
    fields: {
      name: {
        identifier : 'special-name',
        rules: [
          {
            type   : 'empty',
            prompt:'姓名不能为空'
          }
        ]
      }
    }
  })
;
</script>
</body>
</html>

<!-- 本地测试、服务器测试通过 -->