{% extends 'login/base.html' %}

{% block bodyshow%}
<script  type="text/javascript">
 $(function (){
      //jQuery UI的Tab也是这样，可能也许大概说不准也依赖jquery.address
     $('.ui.top.attached.tabular.menu .item').tab();
  })
</script>
	<div class="ui top attached tabular menu">
	  <a class="item active" data-tab="first">第一</a>
	  <a class="item" data-tab="second">第二</a>
	  <a class="item" data-tab="third">第三</a>
	</div>
	<div class="ui bottom attached tab segment active" data-tab="first">
	  第一
	</div>
	<div class="ui bottom attached tab segment" data-tab="second">
	  第二
	</div>
	<div class="ui bottom attached tab segment" data-tab="third">
	  第三
	</div>
{% endblock %}


