<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>interactive-getdata</title>
	<script src="../static/oldversion/vue.js" type="text/javascript" ></script>
	<script src="../static/oldversion/vue-resource.js" type="text/javascript" ></script>
	<script type="text/javascript">
		window.onload=function(){
			new Vue({
					el:"#box",
					data:{
						myData:[],
						t1:"",

					},
					methods:{
						get:function(){
							this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
								{  wd:this.t1  },
								{  jsonp:'cb'  }

								).then(function(res){
									this.myData=res.data.s;
								},function(res){
									alert("error");

							});
						}

					}
			});
		};
	</script>
</head>
<body>
	<div id="box">
		<input type="text"  v-model="t1" @keyup="get()">
		<ul>
			<li v-for="v in myData">{{v}}</li>
		</ul>
		<p v-show="myData.length==0">暂无数据</p>
	</div>

</body>

</html>

<!-- 
新库有错误，旧版本可以
新版学学起来真累

 -->


